* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #1E1F21;
    font-family: "Segoe UI", Arial, sans-serif;
}
.flexbox-center {
    align-items: center;
}
.row {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.img-fluid {
    width: 100%;
}
.tac{
    text-align: center;
}
.img-center {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
  }
.header-1 {
    color: #20C20E;
    font-weight: 400;
}
.header-2 {
    color: white;
    font-size: calc(1.475rem + 1.4vw);
    font-weight: 400;
    padding-bottom: 20px;
}
.p1 {
    color: #6B6E70;
    font-size: calc(1rem + .1vw);
    font-weight: 300;
    padding-bottom: 20px;

}
.col-6 {
    width: 50%;
}

.p2 {
    padding-left: 15px;
    color: #6B6E70;
    font-size: calc(1rem + .6vw);
    font-weight: 300;
    padding-bottom: 20px;
}
.container2 {
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
}
.s-icon {
    padding-left: 20px;
    font-size: 50px;
}
#contactme {
    padding-top: 120px;
}
a {
    color: inherit;
}
@media screen and (max-width: 599.98px) {
    #home {
        padding-top: 110px;
    }
    #aboutme {
        padding-top: 110px;
    }
    .s-icon {
        font-size: 35px;
        padding-left: 15px;
    }
    .bottom-margin {
        margin-bottom: 25px;
    }
    .img-center {
        width: 35%;
    }
    .container {
        padding-top: 7%;
    }
    .col-12 {
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width: 749.98px) {
    #home {
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .img-center {
        width: 25%;
    }
}
@media (min-width: 750px) and (max-width: 899.98px) {
    #home {
        padding-top: 16%;
        padding-bottom: 16%;
    }
    .img-center {
        width: 25%;
    }
}
@media (min-width: 900px) and (max-width: 1089.98px) {
    #home {
        padding-top: 11%;
        padding-bottom: 11%;
    }
    .img-center {
        width: 25%;
    }
}
@media (min-width: 1090px) and (max-width: 1299.98px) {
    #home {
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .img-center {
        width: 25%;
    }
}
@media (min-width: 1300px) and (max-width: 1399.98px) {
    #home {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .img-center {
        width: 20%;
    }
}
@media (min-width: 1400px) {
    #home {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

.red {
    color: red;
}
.green {
    color: #20C20E;
    font-family: Courier;
    font-size: larger;
}
