* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #1E1F21;
    font-family: "Segoe UI", Arial, sans-serif;
    overflow-x: hidden;
}
.flexbox-center {
    align-items: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.img-fluid {
    width: 100%;
}
.tac{
    text-align: center;
}
.fs-1 {
    font-size: calc(1.375rem + 1.5vw)
}
.fs-2 {
    font-size: calc(1.325rem + 0.9vw)
}.fs-3 {
    font-size: calc(1.3rem + 0.6vw)
}.fs-4 {
    font-size: calc(1.275rem + 0.3vw)
}.fs-5 {
    font-size: 1.25rem;
}
.fs-6 {
    font-size: 1rem;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.img-center {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
  }
.header-1 {
    color: #20C20E;
    font-weight: 400;
}
.header-2 {
    color: white;
    font-size: calc(1.475rem + 1.4vw);
    font-weight: 400;
    padding-bottom: 20px;
}
.p1 {
    color: #6B6E70;
    font-size: calc(1rem + .1vw);
    font-weight: 300;

}
.col-6 {
    width: 50%;
}

.p2 {
    padding-left: 15px;
    color: #6B6E70;
    font-size: calc(1rem + .6vw);
    font-weight: 300;
    padding-bottom: 20px;
}
/* .container2 {
    padding-left: 15px;
    padding-right: 15px;
} */
.s-icon {
    padding-left: 0.3em;
    font-size: 2.5em;
}
/* #contactme {
    padding-top: 120px;
} */
a {
    color: inherit;
}

/* @MEDIAS */
@media screen and (max-width: 767.98px) {
    .img-center {
        width: 35%;
    }
    .col-12 {
        width: 100%;
        margin-bottom: 10px;
    }
}



.red {
    color: red;
}
.green {
    color: #20C20E;
    font-family: Courier;
    font-size: larger;
}



.choice {
    display: none;
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.474);
}
.two_choices {
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 3px 4px 8px 3px black;
}
.line {
    background-color: black;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 5px;
}

.light {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid black;
    background: none;
    border-radius: 5px;
}
.dark {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
}

#home {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.container {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutme {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.container2 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}