* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    cursor: url(mouse-pointer.svg), auto;
}

.container {
    background-color: rgb(23, 22, 23);
    width: 100%;
    color: white;
}

.wrapper {
    margin: 0 50px 0 50px;
}

.w-100 {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px 0;
}

.email {
    cursor: pointer;
}

/* Side Navigation Bar */
.side-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    display: grid;
    gap: 15px;
}

.side-nav-item {
    cursor: pointer;
}


.email-icon,
.social-media-icon {
    display: none;
}

/* Email Section */
.email-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    background-color: #252425;
    z-index: 1;
    padding: 50px 15px;
    transition: all 1s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-end {
    text-align: end;
}

.letter-head,
.letter-down {
    margin-top: 20px;
}

.letter-body {
    margin-top: 10px;
}

.letter-signature {
    font-style: italic;
}

.letter-close {
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

/* Code Secton */
.code-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    overflow-x: hidden;
    /* background-color: red; */
}

.code-section-col-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgb(27, 26, 27);
    transition: 2s linear;
    padding-top: 30px;
}

.left-before {
    margin-left: -50%;
}

.right-before {
    margin-right: -50%;
}

.code-section-col-2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    float: right;
    background-color: rgb(27, 26, 27);
    transition: 2s linear;
    padding-top: 30px;
}

.back-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.float-right {
    text-align: right;
}

.code-paragraph {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    transition: 2s ease;
    z-index: 1;
}

@media screen and (max-width: 1100px) {

    .code-paragraph {
        min-width: 65%;
    }

}

@media screen and (max-width: 860px) {
    .code-paragraph {
        min-width: 73%;
    }
}

@media screen and (max-width: 770px) {
    .code-paragraph {
        min-width: 85%;
    }
}

@media screen and (max-width: 670px) {
    .code-paragraph {
        min-width: 95%;
    }
}

@media screen and (max-width: 590px) {
    .code-section {
        height: 180vh;
    }
    .code-paragraph {
        min-width: 95%;
    }
}

a {
    cursor: pointer;
}




.hero-section {
    height: calc(100vh - 70px);
}

.center {
    height: 100%;
    display: grid;
    place-items: center;
}

.hero-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.hero-subheading {
    margin: 10px 0;
    font-size: 16px;
}

.hero-heading {
    margin: 20px auto;
    font-size: 40px;
    max-width: 557px;
}

.btn-1 {
    padding: 15px 35px;
    background-color: rgb(26, 27, 27);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1:hover {
    background-color: rgb(43, 44, 44);
}

.mx-auto {
    margin: 0 auto;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    height: 280px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.134);
    border: 2px solid rgba(128, 128, 128, 0.276);
    border-radius: 5px;
    padding: 0 5px;
}

.hash {
    display: grid;
    margin: 20px auto;
    width: 30px;
    padding-top: 10px;
}

.card-paragraph{
    text-align: center;
}


.second-heading {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
    padding: 0 200px;
}

.banner {
    width: 100%;
    height: 100px;
    background-color: rgb(27, 26, 27);
}

.banner-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 25px 0;
    font-size: 40px;
    font-weight: bolder;
}



/* Third Section */

.portfolio-section {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.justify-evenly {
    justify-content: space-evenly;
}

.third-heading {
    font-size: 40px;
    padding: 50px 0px 35px 0px;
}

.p-img {
    width: 100%;
    height: 450px;
    margin-top: 30px;
    background-size: cover;
    cursor: pointer;
    border-radius: 20px;
    transition: .1s ease;
    position: relative;
}


.p-img-1 {
    background-image: url(p1-l.webp);
}
.p-img-1::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10%;
    height: 330px;
    width: 200px;
    border-radius: 10px;
    background-image: url(p1-s.webp);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
}

.p-img-2 {
    background-image: url(p2-l.webp);
}
.p-img-2::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10%;
    height: 330px;
    width: 200px;
    border-radius: 10px;
    background-image: url(p2-s.webp);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
}

.p-img-3 {
    background-image: url(p3-l.webp);
}
.p-img-3::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10%;
    height: 330px;
    width: 200px;
    border-radius: 10px;
    background-image: url(p3-s.webp);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
}

.p-img-4 {
    background-image: url(p4-l.webp);
}
.p-img-4::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10%;
    height: 330px;
    width: 200px;
    border-radius: 10px;
    background-image: url(p4-s.webp);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
}

.p-img:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    scale: 1.01;
}

.p-img-link {
    width: 35%;
}







/* Scroll Animation */
.hidden {
    opacity: 0;
    filter: blur(0);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.card:nth-child(2) {
    transition-delay: 200ms;
}

.card:nth-child(3) {
    transition-delay: 400ms;
}

.card:nth-child(4) {
    transition-delay: 600ms;
}


@media screen and (max-width: 375px) {
    .banner {
        margin-top: 50px;
    }

    .email-section {
        width: 90%;
    }
}



/*mobile-view*/
@media screen and (max-width: 767px) {

    nav {
        padding: 20px 0 20px 0;
    }

    .email-icon,
    .social-media-icon {
        display: block;
        cursor: pointer;
    }

    .email,
    .social-media {
        display: none;
    }

    .side-nav {
        display: none;
    }

    .hero-heading {
        font-size: 33px;
    }

    .second-section {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .second-heading {
        font-size: 33px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .p-img-link {
        width: 100%;
    }

    /* .p-img-1::before,
    .p-img-2::before,
    .p-img-3::before,
    .p-img-4::before {
        display: none;
    } */

    .second-heading {
        padding: 0 50px;
    }
    

}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .second-heading {
        padding: 0 100px;
    }
}


@media screen and (max-width: 960px) {
    .banner {
        height: auto;
    }

    .banner-ul {
        display: block;
        text-align: center;
        margin: 0;
    }

    .banner-item {
        padding: 10px 0;
    }

    .p-img-link {
        width: 55%;
    }
}

@media screen and (max-width: 650px){
    .p-img-link {
        width: 100%;
    }
    .p-img {
        min-height: 400px;
        min-width: 200px;
    }

    .card {
        width: 100%;
    }

    .second-heading {
        padding: 0 0px;
    }

    .p-img-1::before,
    .p-img-2::before,
    .p-img-3::before,
    .p-img-4::before {
        right: -8%;
        height: 300px;
        width: 170px;
    }
}

@media screen and (max-width: 450px) {
    .p-img-1::before,
    .p-img-2::before,
    .p-img-3::before,
    .p-img-4::before {
        right: -10%;
        height: 250px;
        width: 130px;
    }
}