*{
  padding: 0;
  margin: 0;
}
body{
  background: #222322;
  display: grid;
  place-items: center;
  font-family: 'Nunito', sans-serif;
  text-shadow: 2px 5px 8px black;
  overflow-x: hidden;
}
.main-heading{
  color: red;
  margin-top: 5vh;
}
.sub-heading{
  color: white;
}
#videos{
  margin-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}